/*Logo*/
$logo-background-color-dark: #0c1618;


/*Background-color*/
$bg-color-1:#55D6BE;
$bg-color-2: #B8B8FF;
$bg-black: #000000;

/*Fonts*/
$font-color-primary: #ffeedd;
$font-color-black: #000000;



